---
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Certificate from "@/resume/certificate/certificate.model";

interface Props {
	certificates?: Certificate[];
}

const { certificates = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
---

{certificates.length > 0 && (
  <Section title={t('certificates')}>
    <ul class="flex flex-col gap-3">
      {certificates.map((c) => (
        <li>
          <article class="p-2">
            <header>
              <h3>
                {c.url ? <a href={c.url} target="_blank" rel="noopener noreferrer">{c.name}</a> : <span>{c.name}</span>}
              </h3>
              <time datetime={c.date.toISOString().split('T')[0]}>{c.date.getFullYear()}</time>
            </header>
            <footer>
              <p>{c.issuer}</p>
            </footer>
          </article>
        </li>
      ))}
    </ul>
  </Section>
)}
