---
import Link from "@atoms/Link.astro";
import Section from "@atoms/Section.astro";
import Typography from "@atoms/Typography.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Work from "@/resume/work/work.model";

// Props interface
interface Props {
	work: Work[];
}

const { work } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
---

<Section title={t('experience')}>
  <ul class="flex flex-col gap-8">
    {
      work.map(
        (workItem, idx) => {
          const { name, startDate, endDate, position, summary, highlights, url } = workItem;
          
          const startYear = startDate.getFullYear()
          const endYear = endDate ? endDate.getFullYear() : "Actual"
          
      
          const startDateStr = startDate.toISOString().split('T')[0]
          const endDateStr = endDate ? endDate.toISOString().split('T')[0] : null

          return (
            <li>
              <article class="py-2">
                <header class="flex justify-between items-start mb-1">
                  <div class="flex-1">
                    <Typography as="h3" variant="subtitle" class="font-medium mb-0">
                      {url ? (
                        <Link href={url} variant="primary" external>
                          {name}
                        </Link>
                      ) : (
                        name
                      )}
                    </Typography>
                    <Typography as="h4" variant="body" class="font-normal">
                      {position}
                    </Typography>
                  </div>

                  <div class="flex gap-1 text-gray-600 dark:text-gray-400 text-sm min-w-0 text-right tabular-nums">
                    <time
                      tabindex="0"
                      title={startDateStr}
                      aria-describedby={`start-${startDateStr}-${idx}`}
                      class="relative text-sm text-gray-600 dark:text-gray-400 cursor-default hover:after:opacity-100 hover:after:visible focus:after:opacity-100 focus:after:visible after:content-[attr(data-title)] after:absolute after:bg-slate-100 after:text-slate-800 after:text-xs after:font-mono after:px-2 after:py-1 after:bottom-[-1.4rem] after:left-1/2 after:-translate-x-1/2 after:whitespace-nowrap after:shadow-md after:opacity-0 after:invisible after:border after:border-slate-300 after:rounded-md after:z-[99999] after:transition-opacity after:duration-100 after:delay-500 dark:after:bg-gray-800 dark:after:text-white dark:after:border-gray-700"
                      datetime={startDateStr}
                      data-title={startDateStr}>
                        {startYear}
                    </time>
                    <span id={`start-${startDateStr}-${idx}`} class="sr-only">{startDateStr}</span>
                    <span class="text-gray-600 dark:text-gray-400">-</span>
                    {endDateStr ? (
                      <>
                        <time
                          tabindex="0"
                          title={endDateStr}
                          aria-describedby={`end-${endDateStr}-${idx}`}
                          class="relative text-sm text-gray-600 dark:text-gray-400 cursor-default hover:after:opacity-100 hover:after:visible focus:after:opacity-100 focus:after:visible after:content-[attr(data-title)] after:absolute after:bg-slate-100 after:text-slate-800 after:text-xs after:font-mono after:px-2 after:py-1 after:bottom-[-1.4rem] after:left-1/2 after:-translate-x-1/2 after:whitespace-nowrap after:shadow-md after:opacity-0 after:invisible after:border after:border-slate-300 after:rounded-md after:z-[99999] after:transition-opacity after:duration-100 after:delay-500 dark:after:bg-gray-800 dark:after:text-white dark:after:border-gray-700"
                          datetime={endDateStr}
                          data-title={endDateStr}>
                            {endYear}
                        </time>
                        <span id={`end-${endDateStr}-${idx}`} class="sr-only">{endDateStr}</span>
                      </>
                    ) : (
                      <span class="text-gray-600 dark:text-gray-400" aria-label={t('present')}>
                        {t('present')}
                      </span>
                    )}
                    
                  </div>
                </header>

                <footer>
                  <Typography variant="body"  class="text-pretty">
                    {summary}
                  </Typography>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>