---
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Work from "@/resume/work/work.model";

// Props interface
interface Props {
	work: Work[];
}

const { work } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
---

<Section title={t('experience')}>
  <ul class="flex flex-col gap-8">
    {
      work.map(
        (workItem) => {
          const { name, startDate, endDate, position, summary, highlights, url } = workItem;
          
          const startYear = startDate.getFullYear()
          const endYear = endDate ? endDate.getFullYear() : "Actual"
          
          // Convertir fechas a strings para datetime
          const startDateStr = startDate.toISOString().split('T')[0]
          const endDateStr = endDate ? endDate.toISOString().split('T')[0] : null

          return (
            <li>
              <article>
                <header class="flex justify-between items-start mb-1">
                  <div>
                    <h3 class="font-medium text-gray-900">
                      {url ? (
                        <a href={url} title={`Ver ${name}`} target="_blank" rel="noopener noreferrer" class="text-gray-900 hover:underline focus:underline hover:text-gray-700">
                          {name}
                        </a>
                      ) : (
                        <span>{name}</span>
                      )}
                    </h3>
                    <h4 class="text-gray-700 font-normal">{position}</h4>
                  </div>

                  <div>
                    <time 
                      datetime={startDateStr}
                      data-title={startDateStr}
                      class="text-gray-600 text-sm min-w-[102px] cursor-default sm:text-right relative">
                        {startYear}
                    </time>
                    {" - "}
                    <time 
                      datetime={endDateStr}
                      data-title={endDateStr}
                      class="text-gray-600 text-sm min-w-[102px] cursor-default sm:text-right relative">
                        {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease-in-out 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: .75rem;
    font-family: Menlo, Monaco, Lucida Console, "Courier New", monospace;
    position: absolute;
    padding: .2rem .5rem;
    bottom: -1.4rem;
    left: 50%;
    white-space: nowrap;
    box-shadow: 1px 1px 1px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
  }
</style>
