---
import OptimizedPicture from "@atoms/OptimizedPicture.astro";
import Section from "@atoms/Section.astro";
import Typography from "@atoms/Typography.astro";
import { Icon } from "astro-icon/components";
import { type Lang, useTranslations } from "@/i18n";
import type { Location, Profile } from "@/resume";
import type { SocialIcon } from "@/types";

// Props interface
interface Props {
	basics: {
		name: string;
		label: string;
		image: string;
		location: Location;
		profiles: Profile[];
		phone?: string;
		email: string;
	};
}

const { basics } = Astro.props as Props;
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const SOCIAL_ICONS: SocialIcon = {
	GitHub: "lucide:github",
	LinkedIn: "lucide:linkedin",
	X: "lucide:twitter",
	twitter: "lucide:twitter",
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4 max-sm:flex-col-reverse print:flex-row">
    <div class="flex-1 min-w-0 flex flex-col gap-2 pr-8 max-sm:pr-0 max-sm:text-center max-sm:items-center print:pr-8 print:text-left print:items-start">
      <Typography as="h1" variant="title" class="text-balance font-medium">{name}</Typography>
      <Typography as="h2" variant="subtitle" class="text-lg font-bold m-0">{label}</Typography>
      <Typography as="span" variant="muted" class="flex items-center gap-1 text-sm">
        <Icon name="lucide:map" class="size-4" aria-hidden="true" />
        {city}, {region}
      </Typography>

      <div class="hidden print:block text-sm text-slate-600 dark:text-slate-400 mt-1">
        {printInfo}
      </div>
      <footer class="no-print mt-2 flex gap-1">
        {
          email && (
            <a
              href={`mailto:${email}`}
              class="text-slate-700 dark:text-slate-300 inline-flex items-center justify-center border border-slate-300 dark:border-slate-600 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-slate-100 dark:hover:bg-slate-700 hover:border-slate-400 dark:hover:border-slate-500"
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              aria-label={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="lucide:mail" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              class="text-slate-700 dark:text-slate-300 inline-flex items-center justify-center border border-slate-300 dark:border-slate-600 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-slate-100 dark:hover:bg-slate-700 hover:border-slate-400 dark:hover:border-slate-500"
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              aria-label={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="lucide:phone" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {

            return (
              <a
                href={url}
                class="text-slate-700 dark:text-slate-300 inline-flex items-center justify-center border border-slate-300 dark:border-slate-600 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-slate-100 dark:hover:bg-slate-700 hover:border-slate-400 dark:hover:border-slate-500"
                title={`Visitar el perfil de ${name} en ${network}`}
                aria-label={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {SOCIAL_ICONS[network] &&<Icon name={SOCIAL_ICONS[network]} class="size-4" aria-hidden="true" />}
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class="flex-none w-32 min-w-12 max-sm:flex max-sm:justify-center max-sm:items-center max-sm:mx-auto print:flex-none print:w-32">
      {image && (
			<OptimizedPicture
				src={image}
				alt={name}
				width={128}
				height={128}
				loading="eager"
				class="w-32 h-32 object-cover rounded-2xl aspect-square"
			/>
		)}
    </figure>
  </div>
</Section>