---
import OptimizedPicture from "@atoms/OptimizedPicture.astro";
import Section from "@atoms/Section.astro";
import { Icon } from "astro-icon/components";
import { type Lang, useTranslations } from "@/i18n";
import type { Location, Profile } from "@/resume";
import type { SocialIcon } from "@/types";

// Props interface
interface Props {
	basics: {
		name: string;
		label: string;
		image: string;
		location: Location;
		profiles: Profile[];
		phone?: string;
		email: string;
	};
}

const { basics } = Astro.props as Props;
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const SOCIAL_ICONS: SocialIcon = {
	GitHub: "lucide:github",
	LinkedIn: "lucide:linkedin",
	X: "lucide:twitter",
	twitter: "lucide:twitter",
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4 sm:flex-col-reverse">
    <div class="flex flex-col gap-2 pr-8 flex-1 min-w-0 sm:justify-center sm:items-center sm:pr-0 sm:text-center">
      <h1 class="text-4xl">{name}</h1>
      <h2 class="text-gray-600 font-medium text-lg text-balance">{label}</h2>
      <span class="text-gray-500 flex items-center gap-1 text-sm tracking-tight">
        <Icon name="lucide:map" class="size-4" aria-hidden="true" />
        {city}, {region}
      </span>
      <footer class="print text-gray-600 text-xs flex gap-1 mt-2">
        {printInfo}
      </footer>
      <footer class="no-print text-gray-600 text-xs flex gap-1 mt-2">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              aria-label={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 ease-in-out hover:bg-gray-200 hover:border-gray-300"
            >
              <Icon name="lucide:mail" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              aria-label={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
              class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 ease-in-out hover:bg-gray-200 hover:border-gray-300"
            >
              <Icon name="lucide:phone" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {

            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                aria-label={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-500 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 ease-in-out hover:bg-gray-200 hover:border-gray-300"
              >
                {SOCIAL_ICONS[network] &&<Icon name={SOCIAL_ICONS[network]} class="size-4" aria-hidden="true" />}
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class="flex-shrink min-w-12 w-32 sm:flex sm:justify-center sm:items-center sm:mx-auto">
      {image && (
			<OptimizedPicture
				src={image}
				alt={name}
				width={128}
				height={128}
				loading="eager"
				class="aspect-square object-cover w-full h-auto rounded-2xl block"
			/>
		)}
    </figure>
  </div>
</Section>

