---
import OptimizedPicture from "@atoms/OptimizedPicture.astro";
import Section from "@atoms/Section.astro";
import Typography from "@atoms/Typography.astro";
import { Icon } from "astro-icon/components";
import { type Lang, useTranslations } from "@/i18n";
import type { Location, Profile } from "@/resume";
import type { SocialIcon } from "@/types";

// Props interface
interface Props {
	basics: {
		name: string;
		label: string;
		image: string;
		location: Location;
		profiles: Profile[];
		phone?: string;
		email: string;
	};
}

const { basics } = Astro.props as Props;
const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const SOCIAL_ICONS: SocialIcon = {
	GitHub: "lucide:github",
	LinkedIn: "lucide:linkedin",
	X: "lucide:twitter",
	twitter: "lucide:twitter",
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4 max-md:flex-col-reverse">
    <div class="flex-1 min-w-0 flex flex-col gap-2 pr-8 max-md:pr-0 max-md:text-center max-md:items-center">
      <Typography as="h1" variant="title" withMargin={false}>{name}</Typography>
      <Typography as="h2" variant="subtitle" withMargin={false} class="text-lg font-bold text-gray-700 m-0">{label}</Typography>
      <Typography as="span" variant="muted" withMargin={false} class="flex items-center gap-1 text-sm text-gray-600">
        <Icon name="lucide:map" class="size-4" aria-hidden="true" />
        {city}, {region}
      </Typography>

    <div class="print" aria-hidden="true" style="display:none!important;">
      {printInfo}
    </div>
      <footer class="no-print mt-2 flex gap-1">
        {
          email && (
            <a
              href={`mailto:${email}`}
              class="text-gray-600 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-gray-100 hover:border-gray-300"
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              aria-label={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="lucide:mail" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              class="text-gray-600 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-gray-100 hover:border-gray-300"
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              aria-label={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon name="lucide:phone" class="size-4" aria-hidden="true" />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {

            return (
              <a
                href={url}
                class="text-gray-600 inline-flex items-center justify-center border border-gray-200 p-1 h-8 w-8 rounded-md transition-all duration-300 hover:bg-gray-100 hover:border-gray-300"
                title={`Visitar el perfil de ${name} en ${network}`}
                aria-label={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {SOCIAL_ICONS[network] &&<Icon name={SOCIAL_ICONS[network]} class="size-4" aria-hidden="true" />}
              </a>
            )
          })
        }
      </footer>
    </div>
    <figure class="flex-none w-32 min-w-12 max-md:flex max-md:justify-center max-md:items-center max-md:mx-auto">
      {image && (
			<OptimizedPicture
				src={image}
				alt={name}
				width={128}
				height={128}
				loading="eager"
				class="w-32 h-32 object-cover rounded-2xl aspect-square"
			/>
		)}
    </figure>
  </div>
</Section>