---
import { getLocalePaths, type Lang, LOCALES, useTranslations } from "@/i18n";
import LocaleHtmlHead from "@/i18n/components/LocaleHtmlHead.astro";
import LocaleSuggest from "@/i18n/components/LocaleSuggest.astro";
import { getMainResumeWithData } from "@/resume/resume/resume.service";
import { SITE_TITLE } from "@/site.consts";
import "@/styles/global.css";

interface Props {
	title: string;
}
const { title } = Astro.props;
const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

// Obtener los datos del resume desde las colecciones de Astro
const resume = await getMainResumeWithData();
if (!resume) {
	throw new Error("No se pudo obtener el resume principal");
}

const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const { image, summary, url } = resume.basics;
---

<!doctype html>
<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <meta charset="UTF-8" />
    <title>{localeTitle}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta name="color-scheme" content="light dark" /> -->

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="192x192" href="/icon-192.png" />
    <link rel="icon" sizes="512x512" href="/icon-512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preload" as="image" href={image} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta
      property="og:image"
      content={image ? new URL(image, Astro.url).href : ""}
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url?.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta
      name="twitter:image"
      content={image ? new URL(image, Astro.url).href : ""}
    />

    <LocaleHtmlHead />
  </head>
  <body>
    <LocaleSuggest />
    <slot />
  </body>
</html>